<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Transcendence</span>
    </div>
    <div class="md:block md:w-auto">
      <ul
        class="font-medium flex md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <button onclick="moveKek('/')"
            class="block text-white rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
            aria-current="page">Home</button>
        </li>
        <% if (authen && authen.authenticated) {%>
          <li>
            <button onclick="moveKek('/logout')"
              class="block px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</button>
          </li>
          <% } else {%>
            <li>
              <button onclick="moveKek('/login')"
                class="block px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</button>
            </li>
            <% } %>
              <% if (authen && authen.authenticated) {%>
                <li>
                  <button onclick="moveKek('/user?user=<%= authen.user.username.replace(" ", "+")%>')" class="block
                     text-white md:bg-transparent md:text-blue-700 md:p-0 dark:text-white
                    md:dark:text-blue-500" aria-current="page"><%= authen.user.username %></button>
                </li>
                <% } %>
      </ul>
    </div>
  </div>
</nav>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form onsubmit="event.preventDefault()" class="space-y-6">
        <div>
          <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
          <div class="mt-2">
            <input name="username" id="username" autocomplete="username" maxlength="20" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            <input type="password" name="password" id="password" autocomplete="current-password" required maxlength="20" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          </div>
        </div>
        <div>
          <button onclick="userLogin()" class="text-white w-full bg-gray-700 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-700 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign in</button>
        </div>
      </form>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
        <a href="/login/google" class="font-medium text-gray-700 hover:text-gray-500 dark:text-gray-700">Register with Google</a>
      </p>
      <p class="mt-10 text-center text-sm/6 text-gray-500">
        Not a member?
        <button onclick="moveKek('/register')" class="font-semibold text-gray-700 hover:text-gray-500">Register!</button>
      </p>
    </div>
  </div>